body {
    background-color: #1a1c23;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 50%;
    height: auto;
    margin-left: 20px;
}

h1 {
    font-size: 30px;
    color: #f8f8ff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Inter;
}

h2 {
    font-size: 18px;
    color: #f8f8ff;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: Inter;
}

h3 {
    font-size: 18px;
    color: #f8f8ff;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: Inter;
}

p {
    font-size: 16px;
    color: #f8f8ff;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6;
    font-family: Inter;

}
